project:
  type: website
  output-dir: docs

website:
  title: "Kanoa Parker | EE PhD Portfolio"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: projects.qmd
        text: Research & Projects
      - href: cv.qmd
        text: CV
    right:
      - text: "Contact"
        href: mailto:email@example.com

format:
  html:
    theme:
      light: cosmo
      dark: darkly
    css: styles.css
    toc: true
    code-copy: true
    code-overflow: wrap
    highlight-style: github